{% load static %}

<nav class="navbar navbar-light bg-dark text-white d-flex justify-content-evenly nav">
    <a class="navbar-brand text-white nav-button" type="button" href="/">
      <img src="/static/img/icons/buscar-viajes.svg" width="32" height="32" class="icon-white"><br>
      Buscar viaje</a>

    <a class="navbar-brand text-white nav-button" type="button" href="/comentarios">
      <img src="/static/img/icons/comments.svg" width="32" height="32" class="icon-white"><br>
      Comentarios</a>

    <a class="navbar-brand text-white nav-button" type="button" href="/about">
      <img src="/static/img/icons/about.svg" width="32" height="32" class="icon-white"><br>
      Sobre Combi-19</a>
</nav>