{% extends "funcionalidades/admin/editar.html" %}
{% block title %}Combi 19 - Alta/Editar Lugar{% endblock %}
{% block volver %}/listar-lugar{% endblock %}
{% block form_fields %}
<div class="row">
    <div class="col mb-3">
        <label for="ciudad" class="form-label">Ciudad</label>
        <input id="ciudad" name="ciudad" type="text" value="{{ object.ciudad }}" class="form-control" required="true" placeholder="Ingrese la ciudad">
        <div class="invalid-feedback">
            Por favor, ingrese la ciudad
        </div>
    </div>
    <div class="col mb-3">
        <label for="provincia" class="form-label">Provincia</label>
        <select id="provincia" name="provincia" value="{{ object.provincia }}" class="form-select mb-3" aria-label=".form-select-lg">
        {% for provincia in provincias %}
            <option value="{{ provincia }}">{{ provincia }}</option>
        {% endfor %}
        </select>
        <div class="invalid-feedback">
            Por favor, seleccione una provincia
        </div>
    </div>
</div>
{% endblock %}