{% load static %}

<header class="bg-light text-white p-3">
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <div class="logo-section">
              <img src="{% static 'img/logo_is.png' %}" alt="logo" class="me-4 w-20 img-fluid">
              <h5 class="text-muted" id="dateAndTime">Fecha</h5>
            </div>
          </div>

            <div class="col-sm">
                <div id="header-buttons">
                    <div class="d-flex justify-content-end" style="margin-top:20px;">
                          <a href="/login" class="btn main-button" role="button">Iniciar sesión</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>