{% extends "layout.html" %}

{% block content %}
<main class="container mt-5 w-50" id="register-section">
    <form class="border mb-5 bg-white rounded p-3 container my-4 validacion-alta-usuario" method="POST" novalidate>
        <h3 class="mb-4 fw-normal">{% block form_name %}{% endblock %}</h3>

        <!-- Bloque con el formulario. Se implementa en cada archivo editar -->
        {% block form_fields %}{% endblock %}

        <div class="d-flex justify-content-between gap-3">
            <button class="btn btn-primary w-100" type="submit">Aceptar</button>
            <a class="btn btn-secondary w-100" href="{% block volver %}/{% endblock %}" role="button">Volver</a>
        </div>
        {% csrf_token %}
    </form>
</main>
{% endblock %}