{% extends "layout.html" %}

<!-- Title -->
{% block title %}Rutas{% endblock %}

{% block content %}
<main class="container">
    <form class="bg-white shadow-lg p-3 m-3 rounded" style="border-radius: 10px !important;" method="post" novalidate>
        <h3 class="mb-4">Historial de viajes</h3>
        <div class="row mb-3">
            <div class="col">
                <label for="daterange" class="form-label">Rango de fechas</label>
                <input type="text" name="daterange" value="{{ daterange }}" class="form-control" />
            </div>
            <div class="col">
                <label for="origen" class="form-label">Origen</label>
                <select id="origen" name="origen" value="{{ origen }}" class="form-select">
                    <option value="0">-</option>
                    {% for lugar in lugares %}
                    <option value="{{ lugar.pk }}">{{ lugar }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="origen" class="form-label">Destino</label>
                <select id="destino" name="destino" value="{{ destino }}" class="form-select">
                    <option value="0">-</option>
                    {% for lugar in lugares %}
                    <option value="{{ lugar.pk }}">{{ lugar }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="chofer" class="form-label">Chofer</label>
                <select id="chofer" name="chofer" value="{{ chofer }}" class="form-select">
                    <option value="0">-</option>
                    {% for chof in choferes %}
                    <option value="{{ chof.pk }}">{{ chof }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary float-right" type="submit">Buscar</button>
        </div>
        {% csrf_token %}
    </form>
    {% if busqueda %}
    {% if viajes %}
    <div class="p-3 mb-5 rounded">
        <div class="table-border table-responsive table--no-card m-b-30">
            <table id="tabla" class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th class="text-center">Ruta</th>
                        <th class="text-center">Fecha de salida</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Pasajes disponibles</th>
                        <th class="text-center">Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for viaje in viajes %}
                    <tr>
                        <td class="text-center">{{ viaje.ruta }}</td>
                        <td class="text-center">{{ viaje.fecha_de_salida | date:'d/m/Y' }} a las {{
                            viaje.hora_de_salida | date:'H:i' }}</td>
                        <td class="text-center">${{ viaje.precio | floatformat:0 }}</td>
                        <td class="text-center"><span class="asientos-disponibles">{{ viaje.get_asientos_disponibles
                                }}</span>/{{ viaje.ruta.combi.asientos }}</td>
                        <td class="text-center estado-pasaje">{{ viaje.estado }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div id="mensaje" class="container p-4">
        <div class="row">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-circle" width="100"
                height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9e9e9e" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <circle cx="12" cy="12" r="9" />
                <line x1="12" y1="8" x2="12" y2="12" />
                <line x1="12" y1="16" x2="12.01" y2="16" />
            </svg>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center text-center">
                <h2 class="h2" style="color:#9e9e9e;">No se encontraron viajes con los criterios de búsqueda
                    ingresados.</h2>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    </div>
    <script type="text/javascript">
        $(function () {
            let daterange = $('input[name="daterange"]')
            daterange.daterangepicker({
                autoUpdateInput: false,
                locale: {
                    format: 'DD/MM/YYYY',
                    cancelLabel: 'Borrar',
                    applyLabel: 'Aceptar'
                }
            });

            daterange.on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
            });

            daterange.on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('-');
            });
        });
    </script>
</main>
{% endblock %}