{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <title>Combi 19</title>
</head>

<body>

{% include 'bases/logged_out/logged_out_header.html' %}
{% include 'bases/logged_out/logged_out_nav-bar.html' %}

<div id="login-section" class="login-form-container">
    <br><br>
    <form class="shadow p-3 mb-5 bg-white rounded my-4 form-signin" method="POST">
        {% csrf_token %}
        <main>
            <div class="d-flex justify-content-center align-items-center">
                <h1 class="h3 mb-3 font-weight-normal">Ingresa ahora</h1>
            </div>
            <br>
            {{ formLogin.email }}
            {{ formLogin.password }}
            <br>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-lg btn-primary btn-block w-75" type="submit">Ingresar</button>
            </div>
        </main>
        <br>
        <section>
            <div class="d-flex justify-content-start align-items-center">
                <label class="font-weight-normal">¿No te has registrado aún?</label>
                <a class="btn btn-link linkbutton-register" href="/alta-usuario">Hazlo aquí</a>
            </div>
        </section>
    </form>
</div>


<script src="{% static 'js/global.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/notifications.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>