{% load static %}

<section class="py-2">
    <div class="container mx-auto px-3 flex justify-between">
        <a href="/">
            <img src="{% static 'img/logo_is.png' %}" alt="logo" style="width: 7rem;" class="img-fluid">
        </a>

        <div class="flex justify-end">
            <a href="/login" class="mt-1 text-white text-normal no-underline" role="button">
                Iniciar sesión
            </a>
        </div>
    </div>
</section>

<nav class="bg-dark-primary">
    <div class="container px-3 mx-auto">  
        <div class="grid grid-cols-1 md:flex md:justify-center gap-5">
            <a class="text-center text-white hover:bg-gray-800 px-5 py-3 md:text-base" type="button" href="/">
                <img src="/static/img/icons/buscar-viajes.svg" width="22" height="22" class="mx-auto icon-white">
                Buscar viaje
            </a>

            <a class="text-center text-white hover:bg-gray-800 px-5 py-3 md:text-base" type="button" href="/comentarios">
                <img src="/static/img/icons/comments.svg" width="22" height="22" class="mx-auto icon-white">
                Comentarios
            </a>

            <a class="text-center text-white hover:bg-gray-800 px-5 py-3 md:text-base" type="button" href="/about">
                <img src="/static/img/icons/about.svg" width="22" height="22" class="mx-auto icon-white">
                Sobre Combi-19
            </a>
        </div>
    </div>
</nav>